section{
  width: 100%;
  /* max-width: 90rem; */
  height: 27.5rem;
  padding: 3rem ;
  background-color: hsl(0, 0%, 98%);
}

.counter{
  width: 57.5rem;
  height: 21.5rem;  
  margin-inline: auto ;
}

.counter-container{
  width: 57.5rem;
  height: 21.5rem;
  max-width: 80rem;
  padding-inline: 1rem;
}

.counter-header{
  width: 55.5rem;
}

.counter-title{
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  color: hsl(0, 0%, 9%);
}

.counter-description{
  font-weight: 400;
  font-size: 18px;
  line-height: 2rem;
  color: hsl(0, 0%, 9%);
  margin-bottom: 2rem;
}

.counter-demo{
  width: 55.5rem;
  height: 11rem; 
}

.counter-interface{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 371px;
  height: 176px;
  border-radius: 12px;
  margin-inline: auto ;
  padding: 1rem 2rem;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.counter-display{
  display: flex;
  flex-direction: column;
  width: 94px;
  height: 76px;
  gap: 8px;
}

.counter-number{
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
  text-align: center;
  color: hsl(0, 0%, 32%);
}

.counter-value{
  font-weight: 800;
  font-size: 2rem;
  line-height: 40px;
  text-align: center;
  color: hsl(263, 70%, 50%);
}

.counter-controls{
  width: 307px;
  height: 36px;
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.counter-controls button{ 
  height: 36px; 
  border-radius: 6px;
  background-color: hsl(0, 0%, 90%);
  text-align: center;
  padding: 8px 12px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: hsl(0, 0%, 15%);
}

.counter-controls button:hover{
  background-color:  hsl(0, 0%, 60%);
}
.counter-button1{
  width: 34px;
}

.counter-button2{
  width: 43px;
}

.counter-button3{
  width: 63px;
}

.counter-button4{
  width: 79px;
}

