.title-component {  
  max-width: 90rem;
  height: 11rem;
  padding: 3rem 5rem;
  background-color: hsl(0, 0%, 100%);
}

.title-container{
  max-width: 80rem;
  height: 5rem;
  padding-inline: 1rem;
}

.title{
  font-weight: 800;
  font-size: 2.25rem;
  line-height: 2.5rem;
  text-align: center;
  color: hsl(0, 0%, 9%);
  margin-bottom: 0.5rem;
}

.title-integrantes{
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 2rem;
  text-align: center;
  color: hsl(0, 0%, 32%);
}
